<h3>Where do you live now?</h3>

<%= form_with data: { controller: 'address-form' } do |form| %>
  <div>
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>
  <div>
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>
  <div>
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, data: { action: 'keydown->address-form#updateCityOptions', 'address-form-target': 'postalCode' } %>
  </div>
  <div>
    <%= form.label :city %>
    <%= form.select :city, [], {}, data: { 'address-form-target': 'city' } %>
  </div>
  <div>
    <%= form.label :country %>
    <%= form.select :country, ['Luxembourg'] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
